.fileInput{
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
  }